<div class="container">
    <header>
        <div class="main-header">
            <a href="/" class="navbrand">Fighting For My Life</a>
            <div class="user-auth">
                <a href="/signup">Sign Up</a>
                <p> Or </p>
                <a href="/login">Login</a>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/forum">FORUM</a>
                </li>
                <li>
                    <a href="/contact">CONTACT US</a>
                </li>
            </ul>
        </nav>
</div>

</div>
<div class="civ-display-container">
    <div class="character-page-display">
        <h1 id="char-name"></h1>
        <img id="char-icon" width="250px">
        <h2 id="civ-display">Civilization</h2>
        <div class="civ-icon-and-name-display">
            <img id="civ-icon" width="100px">
            <span id="civ-name"></span>
        </div>
        <div class="civ-icon-and-name-display">
            <img id="civ-icon2" width="100px">
            <span id="civ-name2"></span>
        </div>
        <h2 id="char-bonus-name"></h2>
        <span id="char-bonus"></span>
    </div>
    <div class="main-page-display">
        <p id="char-bio"></p>
        <h1>Civilization</h1>
        <h3 id="civ-ability-name"></h3>
        <span id="civ-ability"></span>
        <h3 id="civ-ability-name2"></h3>
        <span id="civ-ability2"></span>
        <div class="unique-display">
            <h1>Unique Units and Buildings</h1>
            <img id="unit-icon" width="150px">
            <h3 id="unit-name"></h3>
            <h4>Unit Ability : <span id="unit-ability"></span></h4>
            <span id="unit-description"></span>
            <img id="unit-icon2" width="150px">
            <h3 id="unit-name2"></h3>
            <h4><span id="unit-ability2"></span></h4>
            <span id="unit-description2"></span>
            <img id="building-icon" width="150px">
            <h3 id="building-name"></h3>
            <h4>Building Ability : <span id="building-ability"></span></h4>
            <span id="building-description"></span>
            <img id="building-icon2" width="150px">
            <h3 id="building-name2"></h3>
            <h4><span id="building-ability2"></span></h4>
            <span id="building-description2"></span>
        </div>
    </div>
</div>
<script src="/js/characterDetails.js"></script>