<div class="container">
    <header>
        <div class="main-header">
            <a href="/" class="navbrand">Fighting For My Life</a>
            <div class="user-auth">
                <a href="/signup">Sign Up</a>
                <p> Or </p>
                <a href="/login">Login</a>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/forum">FORUM</a>
                </li>
                <li>
                    <a href="#">CONTACT US</a>
                </li>
            </ul>
        </nav>
</div>
</div>
<h1 id="club-welcome">Welcome, {{username}}</h1>
<main class="main-blog-page">
    <article id="main-blog-container"></article>
    <div class="aside">
        <h3>Make a Post</h3>
        <form action="submit" id="new-blog">
            <input type="text" placeholder="title" id="title">
            <textarea type="text" placeholder="blog-content" id="blog-content"></textarea>
            <button>Submit</button>
        </form>
    </div>
</main>

<script src="/js/blog.js"></script>